# Supabase Configuration
SUPABASE_URL=https://bdehlwonhpafijrqsels.supabase.co
SUPABASE_ANON_KEY=sb_publishable_yJf1BHTZL8RObCfTIP45ew_6dhUrAg2

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=pk_test_51QtaV3DFdYwpQKeo83z7DNI2cL7H1IHPMeED5ILT5ZxAJriY5xMyETgWO4eIZrPn2c2U4B1v0rNsz1TFW0sk7jrc00owvkLvCz
STRIPE_SECRET_KEY=
