# Supabase Configuration
SUPABASE_URL=https://bdehlwonhpafijrqsels.supabase.co
SUPABASE_ANON_KEY=sb_publishable_yJf1BHTZL8RObCfTIP45ew_6dhUrAg2

# Stripe Configuration
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
